@import "tailwindcss";

:root {
  /* Default Theme */
  --default_primary: #f9f9f9;
  --default_secondary: #333;

  /* Dark Theme */
  --dark_primary: #333;
  --dark_secondary: #f0f0f0;

  /* Light Theme */
  --light_primary: white;
  --light_secondary: black;

  /* Blue Theme */
  --blue_primary: #e0f2ff;
  --blue_secondary: #005f99;

  /* Green Theme */
  --green_primary: #e6f4ea;
  --green_secondary: #2e7d32;

  /* Red Theme */
  --red_primary: #ffe5e5;
  --red_secondary: #c62828;

  /* Purple Theme */
  --purple_primary: #f3e5f5;
  --purple_secondary: #6a1b9a;
}